.Body{
    display: grid;
    border: 1px solid #eee;
    box-shadow: 2px 4px 4px #eee;
    margin: 20px 90px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.BodyLeft{
    grid-column-start: 1;
    grid-column-end: 2
}

.BodyRight{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: end;
}

.BodyRight button{
    background: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    align-self: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.Items{
    /* border-right: groove; */
    color: rgb(156, 154, 154);
    display: inline;
    padding: 10px;
    text-transform: capitalize;
}

.Pipe{
    border: 0.5px solid;
    display: inline;
}

@media (max-width:450px){
    .Items{
        display: block;
        padding: 0px;
    }
    .Pipe{
        display: none;
    }

    .Body{
        margin: 20px 50px;
    }
}