.Body{
    width: 250px;
    height: 100%;
    top: 0;
    background: white;
    left: 0;
    padding: 20px 0;
    transition: transform 0.3s ease-out;
    z-index: 200;
    position: fixed;
    box-sizing: border-box
}

@media (min-width: 500px){
    .Body{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo{
    height: 20%;
    overflow: hidden;
    margin: 5px;
    text-align: start;
    margin-bottom: 30px;
}