.Body{
    text-align: center;
    width: 40%;
    box-shadow: 4px 1px 4px #c0bbbb;
    margin: 10px auto;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    background: #eee
}

@media (max-width:450px){
    .Body{
        width: 370px;
    }
}
